<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Technical assignment</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">
	<div class="w3-container" id="filter">
		<h5>
			<span>Give your position:</span>
		</h5>
		<form method="POST" action="/stores">
			<label for="latId">Latitude</label>
			<input id="latId" name="latitude" type="number" max="90" min="-90" value="0" required="required" />
			<label for="lonId">Longitude</label>
			<input id="lonId" name="longitude" type="number" max="180" min="-180" value="0" required="required" />
		    <button type="submit" name="submit" value="value">find</button>
		</form>
	</div>
	<div class="w3-container">
	    <h5>
	    	<span th:text="'The ' + ${limit} + ' closest stores'" th:remove="tag">Stores</span>
	    </h5>
	    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
	    <thead>
	        <tr>
	            <th> Address </th>
	            <th> Opening </th>
	            <th> Closing </th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr th:each="cds: ${stores}">
	            <td><span th:text="${cds.store.addressName}"> Address </span></td>
	            <td><span th:text="${cds.store.todayOpen}"> Opening </span></td>
	            <td><span th:text="${cds.store.todayClose}"> Closing </span></td>
	        </tr>
	    </tbody>
	</table>
	</div>
</body>
</html>