<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Technical assignment</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">
	<div class="w3-container">
	    <h3>
	    	<span th:text="'Stores in ' + ${city}" th:remove="tag">Stores</span>
	    </h3>
	    <p th:text="'There are ' + ${number} + ' stores here.'" />
		<p class="w3-red" style="text-indent: 3px;" th:text="${msg}"></p>
	    <table th:if="${stores != null}"
	    	class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
	    <thead>
	        <tr>
	            <th> Address </th>
	            <th> Opening </th>
	            <th> Closing </th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr th:each="store: ${stores}">
	            <td><span th:text="${store.addressName}"> Address </span></td>
	            <td><span th:text="${store.todayOpen}"> Opening </span></td>
	            <td><span th:text="${store.todayClose}"> Closing </span></td>
	        </tr>
	    </tbody>
	</table>
	</div>
	<div class="w3-container" style="text-align: center; margin-top: 2px;">
		<a class="w3-button w3-dark-grey" href="/"><i class="fa fa-home"></i>&nbsp;Home</a>
	</div>
</body>
</html>